*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none

}
/* ----------BARRA SUPERIOR COM OS MENUS */
nav{
    width: 100%;
    height: 80px;
    background:rgb(89, 223, 223) ;
    
}
body{
    font-family: Helvetica;
}
.i{
 font-size: 20px;
}

label.logo{
    font-size: 35px;
    font-weight: bold;
    color: black;
    padding: 0 100px;
    line-height: 80px;
}
label #icon{
    cursor: pointer;
    font-style: normal;
}
nav ul{
    float: right;
    margin-right: 40px;
}
nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
nav a{
    color: coral;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}
a.active,a:hover{
    border: 1px solid white;
    transition:  .5s;
}
nav icon{
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: block;
}
@media (max-width: 1048px){
    label.logo{
        font-size: 32px;
        padding-left: 60px;
    }
    nav ul{
        margin-right: 20px;
    }
    nav a{
        font-size: 17px;
    }
}
@media (max-width: 500px){
    nav icon{
        display: block;
    }
    nav ul{
        position:fixed;
        width: 100%;
        height: 100vh;
        background: rgb(107, 44, 20);
        top: 80px;
        left: 0%;
        text-align: center;
        transition: all .5s;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    nav.active,a:hover{
        border:none;
        color: rgb(46, 26, 19);
    }
    nav ul.slow{
        left: 0;
    }
}




/* ----------BANNER------------------BANNER---------------- */
.banner{
    display: table;
    background-color: rgb(16, 61, 61);
    width: 100%;
}

.img{
    display: table-cell;
    float: left;
}

.text{
    display: table-cell;
    float: left;
    margin-top: 40px;
    margin-left: 20px;
}

/* .imgBanner{
    background-image: url("imagens/bot.png");
    background-position: 0px 0px,center;
    background-size: 100% 100%;
    width: 40%;
    height: 401px;


} */

/* ----------CONTEUDO-------------------------CONTEUDO---------------------- */
.conteudo{
    padding: 50px;
}


/* ----------GALERIA--------------------GALERIA------------------------- */
.galeria {
    padding: 50px;
}

.bot{
    background-color: rgb(230, 214, 179);
    height: auto;
      /* float: left; */

}
.IA{
    background-color: rgb(114, 90, 38);
    height: auto;
    /* float: left; */
}
.chatbot{
    background-color: rgb(66, 56, 35);
    height: auto;
    /* float: left; */
}




/* ----------FOOOOOOOOOOOOOOOOOOOOOOOT------------------------------ */


.foot{
    background-color: rgb(165, 105, 27);
    color: white;
    padding: 50px;
}





@media screen and (min-width: 600px){

        /* .imgBanner{
            background-image: url("imagens/bot.png");
            background-size: 100% 100%;
            background-color: rgb(16, 61, 61);
            width: 40%;
        } */


        .banner, img, #text{
            display: flex;
        }

        
        .conteudo{
            padding: 10px;
        }



        .bot, .chatbot, .IA {
            width: 100%;
            height: auto;
            padding: 30px;
            margin:0;
        }



        .galeria{
            padding: 10px;
            flex-direction: row;
            display:flex;
            justify-content: space-between;
        }

}