@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none

}
/* ----------BARRA SUPERIOR COM OS MENUS */
nav{
    width: 100%;
    height: 80px;
    background:rgb(89, 223, 223) ;
    display: inline-block;
    
}
body{
    font-family: 'Press Start 2P', cursive;
    background-color: rgba(192, 214, 232, 0.796);
    display: table-cell;
}
.i{
 font-size: 20px;
}

label.logo{
    font-size: 35px;
    font-weight: bold;
    color: black;
    padding: 0;
    line-height: 80px;
    display: inline;
}
label #icon{
    cursor: pointer;
    font-style: normal;
}
nav ul{
    float: right;
    margin-right: 40px;
}
nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
nav a{
    color: coral;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}
a.active,a:hover{
    border: 1px solid white;
    transition:  .5s;
}
 nav #icon{
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none
}
@media (max-width: 1048px){

    nav{
        display: inline-block;
        width: 100%;
        height: auto
    }
    label.logo{
        font-size: 30px;
        padding-left: 60px;
        width: 100%;
        height: auto;
    }
    nav ul{
        margin-right: 20px;
    }
    nav a{
        font-size: 17px;
    }
}
@media (max-width: 835px){

    nav #icon{
        display: block;
    }
    nav ul{
        position:fixed;
        width: 100%;
        height: 100vh;
        background: rgb(107, 44, 20);
        top: 80px;
        left: 0%;
        text-align: center;
        transition: all .5s;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    nav.active,a:hover{
        border:none;
        color: rgb(46, 26, 19);
    }
    nav ul.slow{
        left: 0;
        display: none;
    }
}




/* ----------BANNER------------------BANNER---------------- */
.banner{
    display: table;
    background-color: rgb(16, 61, 61);
    width: 100%;
}

.img{
    display: table-cell;
    float: left;
}

.text{
    display: table-cell;
    float: left;
    margin-top: 40px;
    margin-left: 20px;
    color: coral;
}

label{
    color: coral;
}

#tsobre, #tsobre2,#tbot, #tia, #tchat{
    text-align: left;
    font-family: arial, sans-serif;
}

#tbot, #tia, #tchat{
    color: white;
}

/* ----------CONTEUDO-------------------------CONTEUDO---------------------- */

.sobre{
    font-size: 15px;
}

.conteudo{
    padding: 50px;
}


/* ----------GALERIA--------------------GALERIA------------------------- */
.galeria {
    padding: 50px;
}

.bot{
    background-color: rgb(146, 219, 225);
    height: auto;

}
.IA{
    background-color:rgb(121, 204, 124);
    height: auto;
}
.chatbot{
    background-color: rgb(11, 79, 28);
    height: auto;
}




/* ----------FOOOOOOOOOOOOOOOOOOOOOOOT------------------------------ */


footer{
    background-color: rgb(13, 99, 106);
    color: white;
    padding: 30px 100px;
    position: relative;
}

#fouter{
    font-family: 'Courier New', Courier, monospace;
}





@media screen and (min-width: 600px){

        /* .imgBanner{
            background-image: url("imagens/bot.png");
            background-size: 100% 100%;
            background-color: rgb(16, 61, 61);
            width: 40%;
        } */


        .banner, img, #text{
            display: flex;
        }

        
        .conteudo{
            padding: 10px;
        }



        .bot, .chatbot, .IA {
            width: 100%;
            height: auto;
            padding: 30px;
            margin:0;
        }



        .galeria{
            padding: 10px;
            flex-direction: row;
            display:flex;
            justify-content: space-between;
        }

        #fouter{
            width: 100%;
            height: auto;
        }

}